<h1 class="display-3 text-center">Calculadora </h1>
<div align="right">
    
</div>

<br>
<p class="lead border border-#C4DFE6 bg-#C4DFE6"><img src="assets/imagenes/Calculadora.jpg" width="250px" height="200px"  class="rounded-pill"><br>
     Una calculadora es un dispositivo que se utiliza para realizar cálculos aritméticos. <br>
     Aunque las calculadoras modernas incorporan a menudo un ordenador de propósito general,<br>
      se diseñan para realizar ciertas operaciones más que para ser flexibles. Por ejemplo,<br>
       existen calculadoras gráficas especializadas en campos matemáticos gráficos<br>
        como la trigonometría y la estadística. También suelen ser más portátiles<br>
         que la mayoría de los computadores, si bien algunas PDAs tienen tamaños similares a los modelos<br>
          típicos de calculadora.</p>
<br>

